html {
    font-size: 62.5%;
    font-size: 1rem;
}

body {
    background-color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.titleContainer {
    background-color: rgba(128, 128, 128, 0.141);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    width: 60%;
    min-height: 5rem;
    margin: 2rem 0;
    padding: 1rem;
}
.title {
    color: white;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -2rem;
}
.keyboard ul {
    box-sizing: border-box;
}

.row {
    list-style: none;
    display: flex;
}

li {
    height: 3em;
    width: 3em;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
}

#tab {
    width: 5em;
}

#CapsLock {
    width: 6em;
}

#left-shift {
    width: 8em;
}

#Backspace {
    width: 5em;
}

#Enter {
    width: 6em !important;
}

#right-shift {
    width: 8em;
}

#back {
    width: 5em;
}
.pinky,
.darkblue {
    background-color: rgb(33, 61, 73);
    border: 2px solid rgb(41, 76, 92);
    box-shadow: 0 0.3rem 0.8rem rgb(61, 113, 115);
    color: white;
    font-weight: bold;
}

.pinky.selected {
    color: crimson;
}
#Alt {
    width: 10%;
}
#Ctrl {
    width: 20%;
}
#Space {
    width: 100%;
}
.ring {
    background-color: #a12828;
    border: 1px solid #a12828;
    color: white;
    box-shadow: 0 0.3rem 0.8rem #a11616;
    font-weight: bold;
    font-weight: bold;
}

.ring.selected {
    color: coral;
}

.middle {
    background-color: rgb(252, 93, 35);
    border: 2px solid rgb(252, 96, 39);
    box-shadow: 0 0.3rem 0.8rem rgb(163, 77, 46);
    font-weight: bold;
    font-weight: bold;
}

.middle.selected {
    color: darkorange;
}

.pointer1st {
    background-color: rgb(255, 196, 0);
    border: 2px solid #ffc400;
    font-weight: bold;
    font-weight: bold;
    box-shadow: 0 0.5rem 0.8rem #967406;
}

.pointer1st.selected {
    color: gold;
}

.pointer2nd {
    background-color: khaki;
    border: 2px solid khaki;
    font-weight: bold;
    font-weight: bold;
    box-shadow: 0 0.4rem 0.8rem rgb(181, 174, 111);
}

.pointer2nd.selected {
    color: khaki;
}

.fill-out-key {
    background-color: slategrey;
    border: 2px solid slategrey;
}

.selected {
    background-color: transparent;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.hit {
    /* -webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
    animation: hit 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.spaceHit {
    animation: spaceHit 0.3s;
}

@keyframes hit {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes spaceHit {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
